@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
}

.sideBar {
  background-color: rgb(49, 48, 48);
  /* width: 12vw; */
  height: 100vh;
  width: 360px;
}
.sideBar nav {
  padding: 20px;
}
.sideBar nav li {
  list-style-type: none;
  font-size: 1.195rem;
  font-weight: 500;
  padding: 30px 0;
}
.sideBar nav li a {
  text-decoration: none;
  color: #fff;
}

.main {
  /* background-color: yellow; */
  width: 88vw;
}

.container {
  display: flex;
}

.infoContainer {
  /* background-color: rgb(255, 0, 157); */
  height: 60vh;
  width: 70vw;
  margin: 85px auto;
  display: flex;
  justify-content: space-around;
}

.devInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 50px;
}
.name {
  font-size: 30px;
  font-weight: bold;
}
.about {
  font-size: 20px;
}
.moreabout {
  font-size: 15px;
  margin-top: 20px;
}
.buttons {
  margin-top: 34px;
}
.btn {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.721);
  cursor: pointer;
  margin: 0px 5px;
}
.btn:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.65);
}

.btn-sm {
  font-size: 11px;
  padding: 4px 6px;
  border-radius: 3px;
  margin: 12px 0 0 0;
}
.devPic img {
  height: 60vh;
}

.contactForm {
  /* padding: 144px 34px; */
  padding: 30px;
}
.contactForm h2 {
  padding: 12px 0;
}
.boxStyle {
  width: 25vw;
  border-radius: 5px;
  margin: 6px 0;
  padding: 3px;
  /* margin: 6px 0 0 0; */
}
.directionCol {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.frmpadding {
  padding: 10px 0;
}
#emailHelp {
  font-size: 11px;
  color: midnightblue;
  margin: 0 5px;
  padding: 0;
}

.blogItem {
  margin: 20px;
}
.blogContainer h1 {
  margin: 23px;
}
/* .blogItem p {
} */

.intro h2 {
  margin: 12px 12px;
}

.intro p {
  margin: 12px 12px;
}

.skillContainer {
  padding: 12px;
}

.skills {
  width: 380px;
  height: 8px;
  background-color: red;
  border: 2px solid black;
  outline: none;
}
.skillItem {
  display: grid;
  font-weight: 600;
  margin-top: 8px;
}
.hundered {
  width: 380px;
  background-color: green;
}
.Ninty {
  width: 360px;
  background-color: blue;
}
.fifty {
  width: 290px;
  background-color: orange;
}
.twentyFive {
  width: 145px;
  background-color: red;
}
.projectContainer {
  width: 96%;
  /* border: 2px solid red; */
  /* height: 500px; */
  display: inline-block;
  margin-bottom: 3%;
}
.projectBox {
  width: 45%;
  /* border: 1px solid violet; */
  height: 280px;
  float: left;
  margin-left: 3%;
  margin-top: 2%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.prjImage {
  width: 100%;
  height: 75%;
}
.prjImage img {
  width: 100%;
  height: 100%;
}
.prjLink {
  width: 100%;
  height: 20%;
  /* background-color: red; */
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prjbtn {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1075px) {
  /* body {
    background-color: red;
  } */
  .sideBar{
    position: absolute;
    transform: translate(-400px, 0px);
  }
  .main {
    padding: 20px;
  }
  .infoContainer {
    flex-wrap: wrap;
  }
}
